@model List<AdminUserViewModel>
@{
    ViewData["Title"] = "User List";
}

<h1>@ViewData["Title"]</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="user-row" style="position: relative;">
                <td>@user.Username</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a class="btn btn-sm btn-info edit-btn" asp-action="UserConfigure" asp-controller="Admin" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>

<style>
    .edit-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
    }
</style>